div {
  color: red;
}

body {
  width: 425px;
}

.PaymentDetailHeader {
  text-align: center;
  font-weight: 700;
  font-family: sans-serif;
}

.card-info {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin-bottom: 5px;
}

.start-month{
  margin-bottom: 0;
}

#c-cardnumber-error, #c-cardname-error {
  border: 1px solid black;
  width: 40px;
  position: absolute;
  right: 0;
  bottom: 0;
}

#lbl-c-exmth {
  margin-right: 34%;
}

#lbl-c-amt {
  margin-right: 43%;
}
